<html lang="tr-TR" prefix="og: http://ogp.me/ns#">
<head>
<meta http-equiv="content-type" content="text/html; charset=windows-1254" />
<meta http-equiv="content-type" content="text/html; charset=iso-8859-9" />

<title>Kepçe Tube</title>

<style type="text/css">

* {
	padding: 0;
	margin: 0;
}

body {

}

.tum {
	width: 60%;
	margin: 20px auto;
}

.videolar_ust {
	width: 100%;
	overflow: auto;
}

.videolar_ust_video {
	width: 40%;
	float: left;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 5%;
}

.videolar_ust_video img {
	width: 100%;
}

.videolar_ust_video iframe {
	width: 100%;
}

.baslik {
	text-align: center;
}

.baslik_alti {
	text-align: center;
}

.yukari {
	margin: 0 auto 30px;
}

.nav {
	border-bottom: 2px solid #00e;
	width: 90%;
	overflow: auto;
	margin: 5%;
	padding-bottom: 10px;
}

.nav_item {
	width: 30%;
	float: left;
	text-align: center;
}

.nav_item a {
	text-decoration: none;
	color: #00e;
	font-weight: bold;
}


</style>

</head>
<body>

	<div class="tum">

		<div class="yukari">

			<div class="baslik">
				<img src="/static/dozertube.png">
			</div>

			<div class="baslik_alti">
				Kepce, dozer videolari izlemeyi sevenlerin bulusma nostasi
			</div>

			<div class="nav">
				<div class="nav_item"><a href="">Anasayfa</a></div>
				<div class="nav_item"><a href="">Anasayfa</a></div>
				<div class="nav_item"><a href="">Anasayfa</a></div>
			</div>

		</div>

		<div class="videolar_ust">

			{% for video in videos %}
			<div class="videolar_ust_video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allowfullscreen></iframe>
			</div>
			{% endfor %}

		</div>


	</div>

</body>
</html>